<div class= "question-container">
  <h2><%= link_to question.title, question_path(question) %></h2>
  <div class="question-block">
    <%= simple_format(question.body) %>
    <p>
      <small><%= question.user_name %> - <%= time_ago_in_words(question.created_at) %></small>
    </p>
  </div>
</div>